body{
    margin-top:10px;
}


#indexIcon{
    width:  35px;
    height: 35px;
}
#forTitle{
    margin-left: 30px;
}
#menuButton{
    color: black;
    margin-left:    30px;
    margin-right:   30px;
    font-size: 20px;
}

#menuButton:hover{
    font-weight: bold;
    font-size: 20px;
}